services:
  users-api:
    build: .
    container_name: users_api
    ports:
      - "8080:8080"
    environment:
      - "SPRING_PROFILES_ACTIVE=default"
    restart: unless-stopped
    depends_on:
      - postgres
  postgres:
    image: postgres:16
    container_name: users_db
    environment:
      POSTGRES_DB: app
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata:
